# Environment variables / secrets
.env

# Python
__pycache__/
*.pyc
core/__pycache__/
core/*.pyc
core/__pycache__/*.pyc

# Local data / caches
#data/
.cache/

# Local analysis
analysis/

# Local testing
run_local.sh
run_local_w_forecast.sh

# Output
output/
output/logs/
output/**/*.csv
output/**/*.parquet
